/* Apply crisp rendering for favicons at exactly 2dppx resolution */
@media (resolution: 2dppx) {
  .tab-icon-image {
    image-rendering: -moz-crisp-edges;
  }
}

/* Hide application icons */
html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.main-content vbox.pane-container vbox#mainPrefPane groupbox#applicationsGroup richlistbox#handlersView richlistitem hbox.typeContainer image.typeIcon {
  display: none !important;
}

html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.main-content vbox.pane-container vbox#mainPrefPane groupbox#applicationsGroup richlistbox#handlersView richlistitem hbox.typeContainer label.typeDescription {
  margin-inline-start: 10px !important;
}

html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.main-content vbox.pane-container vbox#mainPrefPane groupbox#applicationsGroup richlistbox#handlersView richlistitem hbox.actionContainer image.actionIcon {
  display: none !important;
}

html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.main-content vbox.pane-container vbox#mainPrefPane groupbox#applicationsGroup richlistbox#handlersView richlistitem hbox.actionContainer label.actionDescription {
  margin-inline-start: 10px !important;
}

hbox#label-box image {
  display: none !important;
}

hbox#label-box label#label {
  margin-inline-start: 10px !important;
}

html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.main-content vbox.pane-container vbox#mainPrefPane groupbox#applicationsGroup richlistbox#handlersView richlistitem hbox.actionsMenuContainer menulist.actionsMenu menupopup.in-menulist menuitem hbox.menu-iconic-left {
  display: none !important;
}

/* Hide search engines favicons */
html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.main-content vbox.pane-container vbox#mainPrefPane groupbox#defaultEngineGroup hbox menulist#defaultEngine menupopup.in-menulist menuitem.menuitem-iconic.searchengine-menuitem.menuitem-with-favicon hbox.menu-iconic-left {
  display: none !important;
}

/* Hide download folder icon */
html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.main-content vbox.pane-container vbox#mainPrefPane groupbox#downloadsGroup hbox#saveWhere input#downloadFolder {
  background-image: none !important;
}

/* Hide "More from Mozilla" */
html#preferences-root body#preferences-body stack#preferences-stack hbox vbox.navigation richlistbox#categories richlistitem#category-more-from-mozilla.category {
  display: none !important;
}

/* Hide recommendations */
html body div#full div#content div#main discovery-pane recommended-addon-list {
  display: none !important;
}

html body div#full div#content div#main recommended-extensions-section h2.header-name.recommended-heading {
  display: none !important;
}

html body div#full div#content div#main recommended-extensions-section recommended-addon-list {
  display: none !important;
}

html body div#full div#content div#main recommended-themes-section h2.header-name.recommended-heading {
  display: none !important;
}

html body div#full div#content div#main recommended-themes-section recommended-addon-list {
  display: none !important;
}

